body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

header {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-redirect {
    color: rgb(15, 186, 126);;
    font-weight: bold;
    margin-left: 20px;
}

#actions {
    display: flex;
    justify-content: space-around;
}

#cart-redirect {
    display: flex;
}

#cart-link {
    color: black;
    font-weight: bold;
}

#booking-redirect {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

#booking-link {
    color: black;
    font-weight: bold;
}

#cart-main-container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
}

#cart-infos {
    width: 50%;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

#booked {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
}

#empty-cart {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#cart-footer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkblue;
    color: white;
}

#purshase-btn {
    text-align: center;
    color: white;
    background-color: darkcyan;
}